<div class="contacts-body" ng-style="bodyImage">


<button type="button" class="contacts-page-button" ng-click="activateForm()">Add Contact</button>
<button type="button" class="contacts-page-button" ng-click="getContacts()">View Contacts</button>

<h1>{{ success }}</h1>

<div class="new-contact-form" style="display: {{contactForm}}">
<form ng-submit="createContact()" method="post">
  <label for="contact-name">Name: </label><input name="contact-name" type="text" ng-model="name"><br>
  <label for="contact-company">Company: </label><input name="contact-company"type="text" ng-model="company"><br>
  <label for="contact-email">Email: </label><input name="contact-email" type="text" ng-model="email"><br>
  <label for="contact-notes">Notes: </label><input name="contact-notes" type="text" ng-model="notes"><br>
  <input type="radio" ng-model="contacted" value="true">Yes</input><input type="radio" ng-model="contacted" value="false">No</input><br>
  <input type="submit" id="submit-new-contact" value="Submit" />
</form>
</div>

<div class="contact-list" style="display: {{listDisplay}}" ng-repeat="contact in contacts">
  <ul>
    <li>Name: {{contact.name}} </li>
    <li>Company: {{contact.company.name}} </li>
    <li>Email: {{contact.email}} </li>
    <li>Notes: {{contact.notes}} <input style="{{editDisplay}}" id="edit-note" type="submit" value="edit" ng-click="showNoteForm()"></li>
    <li style="{{noteHide}}"><input ng-model="contact.notes" type="text" value="{{contact.notes}}"></li>
    <li>Contacted? {{contact.contacted}}
  </ul>
</div>

</div>
