
<div class="jobbies" ng-style="bodyStyle">
<h1 >the job search is a ton of work.</h1>
<h2> keeping it organized shouldn't be. </h1>


<button type="button" id="job-button" class="intro-button" ng-click="goTo('jobs')">jobs</button>
<button type="button" id="companies-button" class="intro-button" ng-click="goTo('companies')">companies</button>
<button type="button" id="contacts-button" class="intro-button" ng-click="goTo('contacts')">contacts</button>

</div>
