<div class="jobbies">
<h1>squeeze down into a job cannon.</h1>
<h2> let's get you a job. </h1>


<button type="button" id="job-button" class="intro-button" ng-click="goTo('jobs')">jobs</button>
<button type="button" id="companies-button" class="intro-button" ng-click="goTo('companies')">companies</button>
<button type="button" id="contacts-button" class="intro-button" ng-click="goTo('contacts')">contacts</button>

</div>
